@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
  /* font-size: large; */
  text-transform: capitalize;
}

h1,
h2,
h3,
.rough {
  font-family: "Kumbh sans";
}
